.emoji {
  font-size: 35px;
  padding: 0 5px;
  background: #f0f0f0;
  box-shadow: inset 0 2px 0 0 #fcfcfc, inset 2px 0 0 0 #fcfcfc,
    inset 0 -2px 0 0 #c9c9c9, inset -2px 0 0 0 #c9c9c9;
  width: 60px;
  height: 60px;
}

.timer-seconds {
  font-size: 30px;
  color: red;
}

.timer-minutes-block {
  width: 70px;
  height: 60px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(59, 1, 1);
}

.flag-count {
  font-size: 30px;
  color: red;
}
